## 11. Librería Pandas

**pandas** es una librería *open source* que nos proporciona estructuras de datos y herramientas de análisis de datos potentes y fáciles de usar en Python.

Se puede instalar en nuestro entorno virtual con el siguiente comando:

```
pipenv install pandas
```

In [1]:
import pandas as pd
import numpy as np

Se utiliza el alias `pd` como estándar de facto par el uso de **pandas**.

### Series

Una serie representa una secuencia de datos unidimensional, y se crea pasándole a pandas una lista de datos.

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### DataFrame

Un objeto `DataFrame` representa una estructura tabular bi-dimensional que contiene datos potencialmente heterogéneos, con filas etiquetadas.

Se pueden crear a partir de un diccionario, o de un `array` de NumPy.

In [7]:
df = pd.DataFrame({
    'A' : [1., 2., np.nan, None],
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo'
})

In [4]:
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  2.0 2013-01-02  1.0  3  train  foo
2  NaN 2013-01-02  1.0  3   test  foo
3  NaN 2013-01-02  1.0  3  train  foo

In [8]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Podemos utilizar una serie para especificar la columna de índice.

In [9]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df2 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df2

                   A         B         C         D
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622
2013-01-02  2.147829 -0.991826 -1.004833  0.168517
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894
2013-01-04 -1.185011  1.988697 -0.770427 -0.472499
2013-01-05 -0.359634  0.338176  0.105786  0.359107
2013-01-06 -0.555880  1.115044 -2.108126  0.139896

### Ejes

En un DataFrame de `pandas` se pueden realizar operaciones a lo largo de los dos ejes, o `axis`.

- Si en una operación especificamos `axis=0` nos referimos a loas índices, es decir, estaremos diciendo que la operación se realiza para todas las filas.
- Si en una operación especificamos `axis=1` estaremos diciendo que la operación se realiza para todas las columnas.

![Axis](./img/axis.jpg)

### Visualización de datos

In [13]:
df2.head(2)

                   A         B         C         D
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622
2013-01-02  2.147829 -0.991826 -1.004833  0.168517

In [14]:
df2.tail(2)

                   A         B         C         D
2013-01-05 -0.359634  0.338176  0.105786  0.359107
2013-01-06 -0.555880  1.115044 -2.108126  0.139896

In [15]:
df2.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

#### DataFrame.to_numpy()

El método `.to_numpy()` de un DataFrame nos da una representación en una estructura de datos de `numpy` de los datos del DataFrame,

In [18]:
df2.to_numpy()

array([[-0.67939947, -0.5642441 , -0.39516608, -0.00462202],
       [ 2.14782856, -0.99182561, -1.00483345,  0.16851747],
       [ 0.39806756, -0.53661026, -0.77399033, -1.07589368],
       [-1.18501088,  1.98869725, -0.77042661, -0.47249893],
       [-0.35963418,  0.3381756 ,  0.10578614,  0.35910665],
       [-0.55588001,  1.11504445, -2.10812582,  0.13989579]])

#### Describe

El método `.describe()` nos muestra un resumen estadístico de los datos.

In [19]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.039005  0.224873 -0.824459 -0.147582
std    1.188837  1.148846  0.739655  0.534241
min   -1.185011 -0.991826 -2.108126 -1.075894
25%   -0.648520 -0.557336 -0.947123 -0.355530
50%   -0.457757 -0.099217 -0.772208  0.067637
75%    0.208642  0.920827 -0.488981  0.161362
max    2.147829  1.988697  0.105786  0.359107

#### Transposición

Podemos obtener el DataFrame transpuesto de uno dado a través del atributo `T`.

In [20]:
df2.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.679399    2.147829    0.398068   -1.185011   -0.359634   -0.555880
B   -0.564244   -0.991826   -0.536610    1.988697    0.338176    1.115044
C   -0.395166   -1.004833   -0.773990   -0.770427    0.105786   -2.108126
D   -0.004622    0.168517   -1.075894   -0.472499    0.359107    0.139896

#### Ordenación

Podemos ordenar los datos por alguno de los ejes o por valores.

In [21]:
df2.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.004622 -0.395166 -0.564244 -0.679399
2013-01-02  0.168517 -1.004833 -0.991826  2.147829
2013-01-03 -1.075894 -0.773990 -0.536610  0.398068
2013-01-04 -0.472499 -0.770427  1.988697 -1.185011
2013-01-05  0.359107  0.105786  0.338176 -0.359634
2013-01-06  0.139896 -2.108126  1.115044 -0.555880

In [22]:
df2.sort_values(by='B')

                   A         B         C         D
2013-01-02  2.147829 -0.991826 -1.004833  0.168517
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894
2013-01-05 -0.359634  0.338176  0.105786  0.359107
2013-01-06 -0.555880  1.115044 -2.108126  0.139896
2013-01-04 -1.185011  1.988697 -0.770427 -0.472499

### Selección 

Podemos obtener una selección de los datos usando los métodos estándar de Python o `numpy` para la obtener *slices* en listas o matrices.

Además, `pandas` proporcia métodos especializados (y optimizados) para el acceso a los datos:

`.loc`

Se utiliza principalmente para acceder por etiqueta. Soporta los siguietnes tipos de entradas:

- Una etiqueta única: df.loc['a']
- Una lista o array de etiqueta: df.loc[['a', 'b', 'c']]
- Un *slice* con etiquetas: df.loc[a':'f']

`.iloc`

Se utiliza principalmente para acceder posición. Soporta los siguietnes tipos de entradas:

- Una entero: df.iloc[0]
- Una lista o array de enteros: df.iloc[[0, 1, 2]]
- Un *slice* : df.loc[1:3]


Tipo de objeto | Selección      | Valor retornado
---------------|----------------|-------------------------------------
Series         | series[label]  | valor escalar
DataFrame      | frame[colname] | La serie correspondiente a `colname`

In [23]:
df2['A']

2013-01-01   -0.679399
2013-01-02    2.147829
2013-01-03    0.398068
2013-01-04   -1.185011
2013-01-05   -0.359634
2013-01-06   -0.555880
Freq: D, Name: A, dtype: float64

In [24]:
df2.A

2013-01-01   -0.679399
2013-01-02    2.147829
2013-01-03    0.398068
2013-01-04   -1.185011
2013-01-05   -0.359634
2013-01-06   -0.555880
Freq: D, Name: A, dtype: float64

In [25]:
df2[0:3]

                   A         B         C         D
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622
2013-01-02  2.147829 -0.991826 -1.004833  0.168517
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894

In [26]:
df2['20130102':'20130104']

                   A         B         C         D
2013-01-02  2.147829 -0.991826 -1.004833  0.168517
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894
2013-01-04 -1.185011  1.988697 -0.770427 -0.472499

In [27]:
df2.loc[dates[0]]

A   -0.679399
B   -0.564244
C   -0.395166
D   -0.004622
Name: 2013-01-01 00:00:00, dtype: float64

In [28]:
df2.loc[:, ['A', 'B']]

                   A         B
2013-01-01 -0.679399 -0.564244
2013-01-02  2.147829 -0.991826
2013-01-03  0.398068 -0.536610
2013-01-04 -1.185011  1.988697
2013-01-05 -0.359634  0.338176
2013-01-06 -0.555880  1.115044

In [29]:
df2.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  2.147829 -0.991826
2013-01-03  0.398068 -0.536610
2013-01-04 -1.185011  1.988697

In [30]:
df2.loc['20130102', ['A', 'B']]

A    2.147829
B   -0.991826
Name: 2013-01-02 00:00:00, dtype: float64

In [31]:
df2.iloc[3]

A   -1.185011
B    1.988697
C   -0.770427
D   -0.472499
Name: 2013-01-04 00:00:00, dtype: float64

In [32]:
df2.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.185011  1.988697
2013-01-05 -0.359634  0.338176

#### Indexación condicional

Se puede acceder a las columnas que cumplan una condición concreta, indicando la condición en el selector.

In [33]:
df2[df2.A > 0]

                   A         B         C         D
2013-01-02  2.147829 -0.991826 -1.004833  0.168517
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894

### Operaciones

Se pueden realizar operaciones estadísticas básicas llamando a los métodos correspondientes.

In [34]:
df2.mean()

A   -0.039005
B    0.224873
C   -0.824459
D   -0.147582
dtype: float64

In [35]:
df2['A'].mean()

-0.03900473868952752

In [36]:
df2.mean(axis=1)

2013-01-01   -0.410858
2013-01-02    0.079922
2013-01-03   -0.497107
2013-01-04   -0.109810
2013-01-05    0.110859
2013-01-06   -0.352266
Freq: D, dtype: float64

Se pueden aplicar funciones a los datos.

In [37]:
df2.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622
2013-01-02  1.468429 -1.556070 -1.400000  0.163895
2013-01-03  1.866497 -2.092680 -2.173990 -0.911998
2013-01-04  0.681486 -0.103983 -2.944416 -1.384497
2013-01-05  0.321852  0.234193 -2.838630 -1.025391
2013-01-06 -0.234028  1.349237 -4.946756 -0.885495

In [40]:
c = df2.apply(lambda x: x.max() - x.min(), axis=1)
df2['E'] = c
df2

                   A         B         C         D         E
2013-01-01 -0.679399 -0.564244 -0.395166 -0.004622  0.674777
2013-01-02  2.147829 -0.991826 -1.004833  0.168517  3.152662
2013-01-03  0.398068 -0.536610 -0.773990 -1.075894  1.473961
2013-01-04 -1.185011  1.988697 -0.770427 -0.472499  3.173708
2013-01-05 -0.359634  0.338176  0.105786  0.359107  0.718741
2013-01-06 -0.555880  1.115044 -2.108126  0.139896  3.223170

In [41]:
df2.apply(lambda x: x.max() - x.min(), axis=1)

2013-01-01    1.354177
2013-01-02    4.157495
2013-01-03    2.549855
2013-01-04    4.358719
2013-01-05    1.078375
2013-01-06    5.331296
Freq: D, dtype: float64

### Uniones

La librería `pandas` proporciona diferentes métodos para la unión de Series o DataFrame.

#### Concat

In [42]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.634450  0.763724  0.710228 -0.694768
1 -0.142616  1.630704  1.029687 -1.008484
2 -0.344466 -0.222917  0.294177 -0.859483
3  1.012883 -0.369916 -0.552784  1.356238
4 -0.167002  1.677076 -0.454767  1.183958
5 -0.528190 -0.912389  0.786753  1.043857
6  0.527898 -0.379471  1.537252 -1.050597
7 -0.352473 -1.825571  0.186576  0.977988
8  0.991172 -0.030169 -1.816031  0.601092
9  1.522968  0.440188 -1.763289  1.840091

In [44]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.634450  0.763724  0.710228 -0.694768
 1 -0.142616  1.630704  1.029687 -1.008484
 2 -0.344466 -0.222917  0.294177 -0.859483,
           0         1         2         3
 3  1.012883 -0.369916 -0.552784  1.356238
 4 -0.167002  1.677076 -0.454767  1.183958
 5 -0.528190 -0.912389  0.786753  1.043857
 6  0.527898 -0.379471  1.537252 -1.050597,
           0         1         2         3
 7 -0.352473 -1.825571  0.186576  0.977988
 8  0.991172 -0.030169 -1.816031  0.601092
 9  1.522968  0.440188 -1.763289  1.840091]

In [45]:
pd.concat(pieces)

          0         1         2         3
0 -0.634450  0.763724  0.710228 -0.694768
1 -0.142616  1.630704  1.029687 -1.008484
2 -0.344466 -0.222917  0.294177 -0.859483
3  1.012883 -0.369916 -0.552784  1.356238
4 -0.167002  1.677076 -0.454767  1.183958
5 -0.528190 -0.912389  0.786753  1.043857
6  0.527898 -0.379471  1.537252 -1.050597
7 -0.352473 -1.825571  0.186576  0.977988
8  0.991172 -0.030169 -1.816031  0.601092
9  1.522968  0.440188 -1.763289  1.840091

#### Join

In [46]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [48]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [49]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

#### Append

In [50]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.362774 -0.573908  0.098044  1.992482
1  1.437667  0.940580 -0.355047 -0.142454
2 -1.097556 -0.593504 -1.313146 -0.490131
3  1.028989  0.098031  0.881277  0.426499
4 -0.589829 -0.331404  0.692164  0.456827
5 -0.158751 -0.199149 -0.395195  0.882798
6 -0.021648  0.764384  0.408657 -1.262260
7 -1.113406  0.107256  0.420511 -0.968303

In [51]:
s = df.iloc[3]
s

A    1.028989
B    0.098031
C    0.881277
D    0.426499
Name: 3, dtype: float64

In [52]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.362774 -0.573908  0.098044  1.992482
1  1.437667  0.940580 -0.355047 -0.142454
2 -1.097556 -0.593504 -1.313146 -0.490131
3  1.028989  0.098031  0.881277  0.426499
4 -0.589829 -0.331404  0.692164  0.456827
5 -0.158751 -0.199149 -0.395195  0.882798
6 -0.021648  0.764384  0.408657 -1.262260
7 -1.113406  0.107256  0.420511 -0.968303
8  1.028989  0.098031  0.881277  0.426499

### Agrupamientos

Cuando hablamos de agrupar datos en `pandas` nos referimos a un proceso que inplica uno o más de los siguientes pasos:

- Separar los datos en grupos basados en algún criterio
- Aplicar una función para cada grupo de forma independiente
- Combinar los resultados en una estructura de datos

In [53]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.976302 -0.708903
1  bar    one -1.709147 -0.680945
2  foo    two  0.229683 -0.613908
3  bar  three  0.917311 -0.819363
4  foo    two -1.245424 -1.041576
5  bar    two  0.904258 -1.698605
6  foo    one -1.215414  1.879422
7  foo  three  1.406019 -0.603691

In [56]:
df.groupby('A').sum()

            C         D
A
bar  0.112423 -3.198913
foo -2.801438 -1.088656

In [57]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -1.709147 -0.680945
    three  0.917311 -0.819363
    two    0.904258 -1.698605
foo one   -3.191715  1.170519
    three  1.406019 -0.603691
    two   -1.015741 -1.655484